thead th {
  min-width: 10vw;
}
thead > tr {
  background: gray;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-middle {
  text-align: center;
  width: 150px;
}
tbody > tr {
  background: lightgray;
}

.width {
  width: 200px;
}

* {
  box-sizing: border-box;
}
select {
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=text], textarea {
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(41, 89, 172);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: none;
  width: 25%;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

body {
  background-color: #f2f2f2;
}

.container {
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  width: 100%;
  clear: both;
  text-align:center;
}

.subContainer {
  padding: 10px;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.row {
  text-align: center;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row, .container, .subContainer, input[type=submit] input[type=text] {
    width: 100%;
    margin-top: 0;
  }
}